@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .MSM-grid {
        display: none;
    }
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.small-grid {
    font-size: 10px;
    padding: 4px; /* Ändern Sie den Innenabstand */
    color: MidnightBlue;
    border: 1px solid #ccc; /* Fügen Sie einen Rahmen hinzu */
}

/* Verkleinern Sie die Header-Texte */
.small-grid .header-cell {
    font-size: 12px;
    color: black;
}

/* Verkleinern Sie die Zellinhalte */
.small-grid .cell {
    font-size: 8px;
}